.areas__container {
    padding: 20px;
}



.areas__container > .row__one {
    display: flex;
    justify-content: center;
}







.table__areas {
    margin-top: 20px;
    border-radius: 10px;
    text-align: justify;
    overflow: hidden;
    width: 100%;
    color: var(--text-color);

}


.table__areas .table__head {
    display: flex;
    width: 100%;
    background-color: #1f2124;
    color: #f5f6f7;
    border-radius: 5px 5px 0 0;
}

.table__areas .table__head .thead {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr) 100px 100px;
    padding: 10px;
    font-weight: 600;
}

.table__areas .table__body {
    height: 100%;
    overflow: auto;
    transition-delay: 0.0s;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D;
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
        /* Para modificar el background */
    }
}



.table__areas .tbody__container .tbody-desk {
    border-bottom: 2px solid #1f2124;
}

.table__areas .tbody__container .tbody-response {
    border-bottom: 2px solid #1f2124;
}

.table__areas .tbody__container .tbody-desk {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 50px;
    padding: 10px;
}


.table__areas .table__body .tbody-desk .td {
    display: flex;
}

.table__areas .table__body .tbody-desk:hover {
    background-color: var(--secundary-color);
    color: #fff;
}


.table__areas .table__body .tbody-response {
    display: none;
    padding: 15px;
    border: 2px solid #1f2124;
    border-radius: 10px;
}




@media screen and (max-width: 768px) {




    .table__areas .table__body {
        border: none;

    }

    .table__areas .table__head {
        display: none;
    }



    .table__areas .table__body .tbody-response {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 15px 0;
    }


    .table__areas .table__body .tbody-desk {
        display: none;
    }
}