/*=================================================
 
  Modal de precios del modal del articulo 
  
=================================================*/


.overlay__sales-sheet_modal {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    z-index: 1;
}

.overlay__sales-sheet_modal.active {
    visibility: visible;
}

.header__modal {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;


}


.popup__sales-sheet_modal {
    background-color: #17191b;
    border-radius: 5px;
    width: 90vw;
    height: 90vh;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
    overflow: hidden;
}



.popup__sales-sheet_modal .btn-cerrar-popup__sales-sheet_modal {
    font-size: 16px;
    display: block;
    transition: .3s ease all;
    color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 13px;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__sales-sheet_modal.active {
    transform: scale(1);
    opacity: 1;
}

.sales-sheet_modal {
    height: 100%;
}

.sales-sheet_modal_container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100%;
    gap: 20px;
    padding: 20px;
}

.sales-sheet_modal_container>.row__one {
    display: flex;
    justify-content: space-between;
}

.sales-sheet_modal_container>.row__one .additional {
    display: flex;
    gap: 20px;
}


.sales-sheet_modal_container>.row__one .additional .btn__recharge > button {
    display: flex;
    background-color: #bf6903;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius-general);
    transition: all 400ms;
}

.sales-sheet_modal_container>.row__one .additional .btn__services > button {
    display: flex;
    background-color: #586ae9;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius-general);
    transition: all 400ms;
}



.sales-sheet_modal_container>.row__one .search {
    display: flex;
    gap: 20px;
}

.sales-sheet_modal_container>.row__one .search .inputs__general_icons {
    margin: 0;
}




.sales-sheet_modal_container>.row__two {
    display: grid;
    grid-template-columns: 1fr auto;
}











.table_sales-sheet_modal {
    margin-top: 20px;
    border-radius: 10px;
    text-align: justify;
    overflow: hidden;
    width: 100%;

}


.table_sales-sheet_modal .table__head {
    display: flex;
    width: 100%;
    background-color: #1f2124;
    color: #f5f6f7;
    border-radius: 5px 5px 0 0;
}

.table_sales-sheet_modal .table__head .thead {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr) 100px;
    padding: 10px;
    font-weight: 600;
}

.table_sales-sheet_modal .table__body {
    height: 100%;
    overflow: auto;
    transition-delay: 0.0s;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D;
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
        /* Para modificar el background */
    }
}


.table_sales-sheet_modal .tbody__container:nth-child(even) {
    background-color: #13171f;
    color: #f5f6f7;
}

.table_sales-sheet_modal .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
    color: #f5f6f7;

}

.table_sales-sheet_modal .table__body .tbody .td {
    display: flex;
    align-items: center;
}

.table_sales-sheet_modal .table__body .tbody .td img {
    width: 50px;
    height: 50px;
}

.table_sales-sheet_modal .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 100px;
    padding: 10px;
}

.table_sales-sheet_modal .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}





.pagination__container {
    display: flex;
}

.pagination__container>.item {
    background-color: #586ae9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.result__container_by_code {
    height: 0;
    position: absolute;
    width: 400px;
    background-color: #1f2124;
    transition: all 500ms ease;
}

.result__container_by_code.active {
    height: 400px;

}


.result__container_by_code>div {
    display: none;
    gap: 10px;
    padding: 15px;
}

.result__container_by_code.active>div {
    display: grid;
}


.result__container_by_code .row__one {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #2a2b2c;
}

.result__container_by_code .row__one:hover {
    background-color: #282c4e;
}


.result__container_by_code .row__one>.image>img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}



.sales-sheet_modal_container .row__three {
    display: flex;
    justify-content: space-between;
}

.sales-sheet_modal_container .row__three > div {
    display: flex;
    color: #fff;
}

.sales-sheet_modal_container .row__three > .subtotal > .title {
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
}

.sales-sheet_modal_container .row__three > .subtotal > .value {
    border: 2px solid var(--primary-color);
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
}

.sales-sheet_modal_container .row__three > .discount > .title {
    background-color: #df4941c5;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
}

.sales-sheet_modal_container .row__three > .discount > .value {
    border: 2px solid #df4941c5;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    width: 80px;
    outline: none;
}



.sales-sheet_modal_container .row__three > .iva > .title {
    background-color: #bf6903;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
}

.sales-sheet_modal_container .row__three > .iva > .value {
    border: 2px solid #bf6903;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
}


.sales-sheet_modal_container .row__three > .total > .title {

    font-weight: 600;
    border: 2px solid #5009ad;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.sales-sheet_modal_container .row__three > .total > .value {
   
    border: 2px solid #5009ad;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    border-left: none;
}



.sales-sheet_modal_container .row__three > .subtotal {
    display: flex;
}



.sales-sheet_modal_container .row__four {
    display: flex;
    justify-content: space-between;
}

.sales-sheet_modal_container .row__four .btn__add_debtor {
    display: flex;
    background-color: transparent;
    padding: 10px 10px;
    color: #fff;
    border: 2px solid #b6b4b4;
    cursor: pointer;
    border-radius: var(--border-radius-general);
    transition: all 400ms;
}

@media screen and (max-width: 768px) {
    .administrator__container>.row__one {
        display: block;
    }

    .administrator__container>.row__one>.input__search>div:nth-child(odd) {
        width: 100%;
    }


    .btn__create-user__container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .table_sales-sheet_modal .table__head .thead {
        grid-template-columns: 1fr;
    }

    .table_sales-sheet_modal .table__head .thead .th.movil {
        display: none;
    }

    .table_sales-sheet_modal .table__body .tbody .td.movil {
        display: none;
    }

    .table_sales-sheet_modal .table__body .tbody {
        grid-template-columns: repeat(2, 1fr);
    }

    .table_sales-sheet_modal .table__body .tbody .td.update {
        display: flex;
        justify-content: end;
    }



}


@media screen and (max-width: 768px) {}

@media screen and (max-width: 500px) {
    .popup__sales-sheet_modal {
        background-color: #17191b;
        border-radius: 5px;
        width: 90%;
        height: 80%;
        transition: .3s ease all;
        transform: scale(0.7);
        opacity: 0;
        overflow: hidden;
    }

    .administrator-modal_container>.row__one {
        grid-template-columns: 1fr;
    }
}