


/*=================================================
 
  Modal de precios del modal del articulo 
  
=================================================*/


.overlay__categories_modal {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 1;
}

.overlay__categories_modal.active {
	visibility: visible;
}

.header__modal {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;


}


.popup__categories_modal {
	background-color: #17191b;  
	border-radius: 5px;
	width: 40vw;
    height: auto;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    overflow: hidden;
}

.administrator-modal {
    padding: 10px 20px 20px 20px;
}


.popup__categories_modal .btn-cerrar-popup__categories_modal {
	font-size: 16px;
	display: block;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 13px;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__categories_modal.active {	transform: scale(1); opacity: 1; }

.categories_modal_container {
	display: grid;
	gap: 20px;
	padding: 20px;
}

.categories_modal_container > .row__one {


}

.categories_modal_container > .row__two {
    display: flex;
    justify-content: center;
}


.categories_modal_container > .row__one .search .inputs__general_icons {
	margin: 0;
}










.table_categories_modal {
    margin-top: 20px;
    border-radius: 10px;
    text-align: justify;
    overflow: hidden;
    width: 100%;
    
}


.table_categories_modal .table__head {
    display: flex;
    width: 100%;
    background-color: #1f2124;
    color: #f5f6f7;
    border-radius: 5px 5px 0 0;
}

.table_categories_modal .table__head .thead {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr) 100px 100px;
    padding: 10px;
    font-weight: 600;
}

.table_categories_modal .table__body {
    height: 100%;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D;
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
        /* Para modificar el background */
    }
}


.table_categories_modal .tbody__container:nth-child(even) {
    background-color: #13171f;
    color: #f5f6f7;
}

.table_categories_modal .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
    color: #f5f6f7;

}

.table_categories_modal .table__body .tbody {
    display: flex;
}

.table_categories_modal .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px 100px;
    padding: 10px;
}

.table_categories_modal .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}





.pagination__container {
    display: flex;
}

.pagination__container>.item {
    background-color: #586ae9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}




@media screen and (max-width: 768px) {
    .administrator__container>.row__one {
        display: block;
    }

    .administrator__container>.row__one>.input__search>div:nth-child(odd) {
        width: 100%;
    }


    .btn__create-user__container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .table_categories_modal .table__head .thead {
        grid-template-columns: 1fr;
    }

    .table_categories_modal .table__head .thead .th.movil {
        display: none;
    }

    .table_categories_modal .table__body .tbody .td.movil {
        display: none;
    }

    .table_categories_modal .table__body .tbody {
        grid-template-columns: repeat(2, 1fr);
    }

    .table_categories_modal .table__body .tbody .td.update {
        display: flex;
        justify-content: end;
    }



}


@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 500px) {
	.popup__categories_modal {
		background-color: #17191b;  
		border-radius: 5px;
		width: 90%;
		height: 80%;
		transition: .3s ease all;
		transform: scale(0.7);
		opacity: 0;
		overflow: hidden;
	}

	.administrator-modal_container > .row__one {
		grid-template-columns: 1fr;
	}
}