.options__menu-settings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: min-content;
    padding: 20px;
}

.options__menu-settings .item a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #1f2124;
    border-radius: 5px;
    color: #fff;
    height: min-content;
}
