/*=================================================
 
  Modal de precios del modal del articulo 
  
=================================================*/


.overlay__inventory_modal {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    z-index: 10;
}

.overlay__inventory_modal.active {
    visibility: visible;
}

.header__modal {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;


}


.popup__inventory_modal {
    background-color: #17191b;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto 1fr;
    width: 90vw;    
    height: 90vh;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
    overflow: hidden;
}

.administrator-modal {
    padding: 10px 20px 20px 20px;
}


.popup__inventory_modal .btn-cerrar-popup__inventory_modal {
    font-size: 16px;
    display: block;
    transition: .3s ease all;
    color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 13px;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__inventory_modal.active {
    transform: scale(1);
    opacity: 1;
}





.inventory_modal {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
        /* Para modificar el background */
    }
}

.inventory_modal .options {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.inventory_modal .options button {
    padding: 5px;
    outline: 2px solid #e9e9e9;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: none;
}

.inventory_modal .options button:hover {
    transform: scale(.9);
}
.inventory_modal .options button:active {
    transform: scale(1.05);
}



.inventory_modal .options button.active {
    background-color: var(--primary-color);
    outline: none;
}







.inventory_modal_container {
    display: grid;
    gap: 20px;
    padding: 20px;
}


.inventory_modal_container {
    height: 100%;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
        /* Para modificar el background */
    }

}


.inventory_modal_container>.row__one {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

.inventory_modal_container>.row__one .row__one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.inventory_modal_container>.row__one>.row__two {
    width: 200px;
    border-radius: 10px;
    
}

.inventory_modal_container>.row__one>.row__two > .dropzone {
    width: 200px;
    height: 200px;
    background-color: var(--primary-color);
    color: #fff;

}


.inventory_modal_container>.row__one .search {
    display: flex;
    gap: 20px;
}

.inventory_modal_container>.row__one .search .inputs__general_icons {
    margin: 0;
}




.inventory_modal_container > .row__two {
    display: flex;
    gap: 20px;

}

.inventory_modal_container > .row__two .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  

}




.inventory_modal > .row__three {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
   

}







.table_inventory_modal {
    margin-top: 20px;
    border-radius: 10px;
    text-align: justify;
    overflow: hidden;
    width: 100%;

}


.table_inventory_modal .table__head {
    display: flex;
    width: 100%;
    background-color: #1f2124;
    color: #f5f6f7;
    border-radius: 5px 5px 0 0;
}

.table_inventory_modal .table__head .thead {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr) 100px 100px;
    padding: 10px;
    font-weight: 600;
}

.table_inventory_modal .table__body {
    height: 100%;
    overflow: auto;
    transition-delay: 0.0s;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D;
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
        /* Para modificar el background */
    }
}


.table_inventory_modal .tbody__container:nth-child(even) {
    background-color: #13171f;
    color: #f5f6f7;
}

.table_inventory_modal .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
    color: #f5f6f7;

}

.table_inventory_modal .table__body .tbody {
    display: flex;
}

.table_inventory_modal .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px 100px;
    padding: 10px;
}

.table_inventory_modal .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}





.pagination__container {
    display: flex;
}

.pagination__container>.item {
    background-color: #586ae9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}




@media screen and (max-width: 768px) {


    .administrator__container>.row__one {
        display: block;
    }

    .inventory_modal_container>.row__one {
        grid-template-columns: 1fr;
    }

    .inventory_modal_container > .row__one > .row__one {
        grid-template-columns: repeat(2, 1fr);
    }

    .administrator__container>.row__one>.input__search>div:nth-child(odd) {
        width: 100%;
    }

    .inventory_modal_container>.row__one>.row__two {
        width: 100%;
        border-radius: 10px;
        
    }
    
    .inventory_modal_container>.row__one>.row__two > .dropzone {
        width: 100%;
        height: 100px;
        background-color: var(--primary-color);
        color: #fff;
    
    }


    .btn__create-user__container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .table_inventory_modal .table__head .thead {
        grid-template-columns: 1fr;
    }

    .table_inventory_modal .table__head .thead .th.movil {
        display: none;
    }

    .table_inventory_modal .table__body .tbody .td.movil {
        display: none;
    }

    .table_inventory_modal .table__body .tbody {
        grid-template-columns: repeat(2, 1fr);
    }

    .table_inventory_modal .table__body .tbody .td.update {
        display: flex;
        justify-content: end;
    }



}



@media screen and (max-width: 500px) {
    .popup__inventory_modal {
        background-color: #17191b;
        border-radius: 5px;
        width: 90%;
        height: 80%;
        transition: .3s ease all;
        transform: scale(0.7);
        opacity: 0;
        overflow: hidden;
    }

    .administrator-modal_container>.row__one {
        grid-template-columns: 1fr;
    }
}