/* .categories {
    width: 100%;
    padding: 20px;
    height: 90vh;
}

.categories__container {
    width: 100%;
}

.categories__container > .row__one {
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.categories__container > .row__one > .classifications {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
 */

