
/*=================================================
 
  Modal de precios del modal del articulo 
  
=================================================*/


.overlay__categories__modal {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 1;
}

.overlay__categories__modal.active {
	visibility: visible;
}

.header__modal {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;


}


.popup__categories__modal {
	background-color: #17191b;  
	border-radius: 5px;
	width: 70%;
    height: 70%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    overflow: hidden;

}

.categories__modal {
    padding: 10px 20px 20px 20px;
}


.popup__categories__modal .btn-cerrar-popup__categories__modal {
	font-size: 16px;
	display: block;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 13px;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__categories__modal.active {	transform: scale(1); opacity: 1; }



.categories__modal_container > div {
    margin-bottom: 20px;
}



.categories__modal_container > .row__one {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 20px;
    column-gap: 10px;
}




.categories-modal_container > .row__one .inputs__general.disabled {
	background-color: #5869e925;
	outline: none;
}






.categories__modal_container > .row__one {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: end;
    column-gap: 20px;
}

.categories__modal_container > .row__two {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: end;
    column-gap: 20px;
}

.categories__modal_container > .row__three {
    display: flex;
    gap: 20px;

}


.categories__modal_container > .row__three .item {
    display: flex;

}

.category__item {
    background-color: #bf6903;
    color: #f5f6f7;
    padding: 10px;
    border-radius: 5px;
}

