/*=================================================
 
  Modal de precios del modal del articulo 
  
=================================================*/


.overlay__tickets_modal {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    z-index: 10;
}

.overlay__tickets_modal.active {
    visibility: visible;
}

.header__modal {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;


}


.popup__tickets_modal {
    background-color: #17191b;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto 1fr;
    width: 90vw;    
    height: 90vh;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
    overflow: hidden;
}

.administrator-modal {
    padding: 10px 20px 20px 20px;
}


.popup__tickets_modal .btn-cerrar-popup__tickets_modal {
    font-size: 16px;
    display: block;
    transition: .3s ease all;
    color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 13px;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__tickets_modal.active {
    transform: scale(1);
    opacity: 1;
}





.tickets_modal {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
        /* Para modificar el background */
    }
}



@media screen and (max-width: 768px) {


}



@media screen and (max-width: 500px) {
 
}