.administrator {
    width: 100%;
    padding: 20px;
    height: 90vh;

}

.administrator__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
   
}

.administrator__container>.row__one {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.administrator__container>.row__one>.input__search .inputs__general {
    margin-top: 0;
}


.input__search {
    display: flex;
    align-items: center;

}

.icon__search {
    display: flex;
    background-color: #586ae9;
    border-radius: 5px;
    align-items: center;
    margin-left: 10px;
    padding: 7px;
    cursor: pointer;

}



.administrator__container>.row__two {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.administrator__container>.row__two>.pagination__container>.item {
    margin: 0 10px;
    color: #f5f6f7;
}








.table__administrators {
    margin-top: 20px;
    border-radius: 10px;
    text-align: justify;
    overflow: hidden;
    width: 100%;
    
}


.table__administrators .table__head {
    display: flex;
    width: 100%;
    background-color: #1f2124;
    color: #f5f6f7;
    border-radius: 5px 5px 0 0;
}

.table__administrators .table__head .thead {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr) 100px 100px;
    padding: 10px;
    font-weight: 600;
}

.table__administrators .table__body {
    height: 100%;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D;
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
        /* Para modificar el background */
    }
}


.table__administrators .tbody__container:nth-child(even) {
    background-color: #13171f;
    color: #f5f6f7;
}

.table__administrators .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
    color: #f5f6f7;

}

.table__administrators .table__body .tbody {
    display: flex;
}

.table__administrators .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px 100px;
    padding: 10px;
}

.table__administrators .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}





.pagination__container {
    display: flex;
}

.pagination__container>.item {
    background-color: #586ae9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}




@media screen and (max-width: 768px) {
    .administrator__container>.row__one {
        display: block;
    }

    .administrator__container>.row__one>.input__search>div:nth-child(odd) {
        width: 100%;
    }


    .btn__create-user__container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .table__administrators .table__head .thead {
        grid-template-columns: 1fr;
    }

    .table__administrators .table__head .thead .th.movil {
        display: none;
    }

    .table__administrators .table__body .tbody .td.movil {
        display: none;
    }

    .table__administrators .table__body .tbody {
        grid-template-columns: repeat(2, 1fr);
    }

    .table__administrators .table__body .tbody .td.update {
        display: flex;
        justify-content: end;
    }



}