


/*=================================================
 
  Modal de precios del modal del articulo 
  
=================================================*/


.overlay__series_modal {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 1;
}

.overlay__series_modal.active {
	visibility: visible;
}

.header__modal {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;


}


.popup__series_modal {
	background-color: #17191b;  
	border-radius: 5px;
	width: 40vw;
    height: auto;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    overflow: hidden;
}

.administrator-modal {
    padding: 10px 20px 20px 20px;
}


.popup__series_modal .btn-cerrar-popup__series_modal {
	font-size: 16px;
	display: block;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 13px;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__series_modal.active {	transform: scale(1); opacity: 1; }

.series_modal_container {
	display: grid;
	gap: 20px;
	padding: 20px;
}

.series_modal_container > .row__one {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.series_modal_container > .row__two {
	display: grid;
	grid-template-columns: repeat(2, 1fr) auto;
	gap: 20px;
}

.series_modal_container > .row__two {
    
}

.series_modal_container > .row__three {
    display: flex;
    justify-content: center;
}


.series_modal_container > .row__one .search .inputs__general_icons {
	margin: 0;
}

.series_modal_container > .row__two .dropzone {
	border: 2px dashed #888;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	background-color: #1e1f21;
	color: #bbb;
  }
  
.series_modal_container > .row__two  .dropzone:hover {
	border-color: var(--primary-color);
	border-color: var(--primary-color);
  }
  
.series_modal_container > .row__two  .dropzone__text {
	font-size: 14px;
  }
  
.series_modal_container > .row__two .preview-image {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	margin-top: 10px;
  }
  


  @media screen and (max-width: 768px) {

	.popup__series_modal {
		background-color: #17191b;  
		border-radius: 5px;
		width: 95vw;
		height: auto;
		max-width: 95vh;
		transition: .3s ease all;
		transform: scale(0.7);
		opacity: 0;
		overflow: hidden;
	}
	

  }

  
  @media screen and (max-width: 500px) {

	.series_modal_container > .row__one {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}
	
	.series_modal_container > .row__two {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}

  }



  @media screen and (max-width: 400px) {



  }






